<app-header-with-steps [tittle]="tittle" [backRef]="backRef" [step]="step"/>

<ion-content [fullscreen]="true" class="ion-padding">
  <app-informative-coink [image]="image" [tittle]="tittleInformative" [text]="information"/>

  <div style="padding-top: 20px;">
    <ion-input fill="outline" class="ion-text-center" [(ngModel)] ="phoneNumber" disabled="true"></ion-input>

    <div class="container">
      <div class="item" (click)="addNumber('1')">1</div>
      <div class="item" (click)="addNumber('2')">2</div>
      <div class="item" (click)="addNumber('3')">3</div>
    </div>

    <div class="container">
      <div class="item" (click)="addNumber('4')">4</div>
      <div class="item" (click)="addNumber('5')">5</div>
      <div class="item" (click)="addNumber('6')">6</div>
    </div>

    <div class="container">
      <div class="item" (click)="addNumber('7')">7</div>
      <div class="item" (click)="addNumber('8')">8</div>
      <div class="item" (click)="addNumber('9')">9</div>
    </div>

    <div class="container">
      <div class="item" (click)="deleteNumber()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </div>
      <div class="item" (click)="addNumber('0')">0</div>
      <div class="item-button">
        <ion-fab-button (click)="nextStep()" [disabled]="disableButton">
          <ion-icon name="checkmark-outline" style="color: white;"></ion-icon>
        </ion-fab-button>
      </div>
    </div>
  </div>
</ion-content>
