<div class="stepper-container">
  <ion-radio-group [value]="indicatorStep[0]" class="stepper-radio-group">
    <div class="step">
      <ion-radio value="1"></ion-radio>
      <div class="line"></div>
    </div>
  </ion-radio-group>
  <ion-radio-group [value]="indicatorStep[1]" class="stepper-radio-group">
    <div class="step">
      <ion-radio value="2"></ion-radio>
      <div class="line"></div>
    </div>
  </ion-radio-group>
  <ion-radio-group [value]="indicatorStep[2]" class="stepper-radio-group">
    <div class="step">
      <ion-radio value="3"></ion-radio>
    </div>
  </ion-radio-group>
</div>
