<ion-content [fullscreen]="true" class="ion-padding">
  <div class="center-content">
    <img src="assets/images/coink.png" style="width: 60vw;">
    <div class="ion-text-center">
      <h4>LA ALCANCIA QUE SIEMPRE TE ACOMPAÑA</h4>
    </div>
  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button expand="block" shape="round" (click)="navigate('register')" style="margin-bottom: 15px;">regístrate</ion-button>
    <ion-button expand="block" shape="round" color="secondary" (click)="navigate('login')">ingresa</ion-button>
    <br>
  </ion-toolbar>
</ion-footer>

